@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root{
    --Moderate-Cyan: hsl(176, 50%, 47%);
    --Dark-Cyan: hsl(176, 72%, 28%);

    --Black: hsl(0, 0%, 0%);
    --Dark-Grey: hsl(0, 0%, 48%);
    --Light-Grey: hsl(0, 0%, 85%);
    --White: hsl(0, 0%, 100%);

    --Normal: 400;
    --Medium: 500;
    --Bold: 700;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
}

/* universal */

.hidden{
    display: none;
}

.pledge-numbers.desktop{
    display: none;
}

.desktop{
    display: none;
}

.disabled > *{
    filter: opacity(50%);
}

button:disabled {
    background: var(--Dark-Grey);
}

p{
    color: var(--Dark-Grey);
    font-weight: var(--Normal);
    margin: 1rem 0;
    line-height: 1.5rem;
}

h1{
    font-size: 1.5rem;
    font-weight: var(--Bold);
    margin-top: 1.5rem;
}


h2{
    font-size: 2rem;
    font-weight: var(--Bold);
    margin-right: .5rem;
}

h3:hover,
h3.focus {
    cursor: pointer;
    color: var(--Moderate-Cyan);
}

h4{
    font-weight: var(--Medium);
    margin: 1rem;
    cursor: pointer;
}


button{
    color: var(--White);
    background-color: var(--Moderate-Cyan);
    padding: 1em;
    border: none;
    border-radius: 99px;
    font-weight: var(--Medium);
}

body{
    background-image: url(./images/image-hero-mobile.jpg); /* mobile*/
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1em;
}

.card{
    width: 90%; /*mobile*/
    background-color: var(--White);
    border-radius: .5em;
    margin: 1em 0;
    padding: 2em 1em;
    box-shadow:  0px 1px 4px hsla(0, 0%, 0%, 0.2);
}

.modal{
    position: absolute;
    z-index: 3;
    cursor: pointer;
    box-shadow: 0px 0px 100em 100em hsla(0, 0%, 0%, 0.5);
}

.thank-you.modal {
    position: fixed;
}


/* header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    position: relative;
}

.menu-list{
    position: absolute;
    z-index: 3;
    box-shadow: 0px 20em 15em 10em hsla(0, 0%, 0%, 0.35);
    top: 4em;
    width: calc(100% - 2em);
    background-color: var(--White);
    border-radius: .5em;
}

.menu-list hr {
    height: 1px;
    background-color: var(--Light-Grey);
    border: none;
    width: 100%;
}

/* main */

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mastercraft-container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;
    text-align: center;
}

#mastercraft{
    position: absolute;
    z-index: 2;
    top: -25px;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.back-this-project,
.reward{
    padding: 1.5em 3em;
    margin-right: 1em;
}

.back-this-project:hover,
.back-this-project:focus,
.reward:hover,
.reward:focus{
    cursor: pointer;
    background-color: var(--Dark-Cyan);
}

.bookmark{
    display: flex;
    align-items: center;
    padding: 0;
    background-color: hsl(0, 0%, 97%) ;
}

.bookmark-text{
    font-weight: var(--Bold);
    color: var(--Dark-Grey);
    padding: 1em;
}

.bookmark-active{
    fill: var(--Moderate-Cyan);
    color:  var(--Moderate-Cyan);
}

.circle{
    fill: var(--Moderate-Cyan);

}

.path{
    fill: var(--White);
}


/* progress card */
.progress-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.progress-container > p {
    margin: .5rem 0 2rem 0;
}

.progress-container .number{
    display: flex;
    flex-direction: column;
}

.pledge-number-container{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.pledge-number{
    display: flex;
    flex-direction: row;
    align-items: center;
}

hr{
    color: var(--Light-Grey);
    width: 25%;
    margin: auto;
}

.progress-bar{
    border: 1px solid var(--Light-Grey);
    background-color: hsl(0, 0%, 95%);
    border-radius: 99px;
    width: 100%;
    height: 1em;
}

.progress{
    background-color: var(--Moderate-Cyan);
    border-radius: 99px;
    height: 100%;
    width: 89.9%;
    max-width: 100%;
}

/* about this project */

.about {
    font-size: 1.5rem;
    margin: 2rem 1rem;
}

/* article cards */

article{
    border: 1px solid var(--Light-Grey);
    border-radius: .75em;
    margin: 1em 0;
    padding: 2em 1em;
}

.cyan{
    margin: 0;
    font-weight: var(--Medium);
    color: var(--Moderate-Cyan);
}

.number{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

/* pledge modal */

.back-this-project-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article.reward {
    padding: 1em 2em;
    margin-right: 0;
}

article hr{
    width: 100%;
}

.reward-label{
    display: flex;
    align-items: center;
}

.text-container{
    margin: 0 1rem;

}

.radio{
    cursor: pointer;
    accent-color: var(--Moderate-Cyan);
}

.enter-pledge{
    text-align: center;
}

.enter-pledge.active{
    display: block;
}

.pledge-input-amount{
    font-weight: var(--Bold);
    color: var(--Black);
    padding: 1em;
    text-align: center;
    border: 2px solid var(--Light-Grey);
    border-radius: 99px;
}

.pledge-cyan{
    border: 2px solid var(--Moderate-Cyan);
}

.pledge-input-amount::placeholder{
    color: var(--Black);
}

/* thank you modal */

.thank-you{
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* media */

@media (min-width:768px){

    .desktop{
        display: flex;
    }

    .mobile{
        display: none;
    }

    body{
        background-image: url(./images/image-hero-desktop.jpg); /* mobile*/
    }

    main{
        max-width: 45em;
        margin: auto;
    }

    .menu-list-desktop{
        display: flex;
        align-items: center;
        color: var(--White);
    }

    .button-container{
        justify-content: space-around;
    }

    .number-container{
        display: flex;
        align-items: center;
    }

    hr{
        border-left: 1px solid var(--Light-Grey);
        height: 3em;
        width: 0px;
        margin: 0 4em;
    }

    .text-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    .pledge-number{
        justify-content: space-between;
    }

    .pledge-number.pledge-desktop{
        justify-content: end;
    }

    .pledge-number-container{
        display: flex;
    }

    .card{
        width: 45em;
        margin: 1em 0;
        padding: 2em 2em;
    }
    
    .enter-pledge{
        text-align: center;
    }
    
    .enter-pledge.active{
        /* display: block; */
        display: flex;
    }

    .reward-label{
        display: flex;
        align-items: center;
        justify-content: initial;
    }

}