/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Moderate cyan: hsl(176, 50%, 47%)
- Dark cyan: hsl(176, 72%, 28%)

### Neutral

- Black: hsl(0, 0%, 0%)
- Dark gray: hsl(0, 0%, 48%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Commissioner](https://fonts.google.com/specimen/Commissioner)
- Weights: 400, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

:root{
    --Moderate-Cyan: hsl(176, 50%, 47%);
    --Dark-Cyan: hsl(176, 72%, 28%);

    --Black: hsl(0, 0%, 0%);
    --Dark-Grey: hsl(0, 0%, 48%);
    --Light-Grey: hsl(0, 0%, 85%);
    --White: hsl(0, 0%, 100%);

    --Normal: 400;
    --Medium: 500;
    --Bold: 700;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
}

/* universal */

.active{
    /*  */
}

.hidden{
    display: none;
}

.desktop{
    display: none;
}

.disabled > *{
    filter: opacity(50%);
}

button:disabled {
    background: var(--Dark-Grey);
  }

p{
    color: var(--Dark-Grey);
    font-weight: var(--Normal);
    margin: 1rem 0;
    line-height: 1.5rem;
}

h1{
    font-size: 1.5rem;
    font-weight: var(--Bold);
    margin-top: 1.5rem;
}


h2{
    font-size: 2rem;
    font-weight: var(--Bold);
    margin-right: .5rem;
}

h3{
    /*  */
}

button{
    color: var(--White);
    background-color: var(--Moderate-Cyan);
    padding: 1em;
    border: none;
    border-radius: 99px;
    font-weight: var(--Medium);
}

body{
    background-image: url(./images/image-hero-mobile.jpg); /* mobile*/
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1em;
}

.card{
    width: 90%; /*mobile*/
    background-color: var(--White);
    border-radius: .5em;
    margin: 1em 0;
    padding: 2em 1em;
    box-shadow:  0px 1px 4px hsla(0, 0%, 0%, 0.2);
}

.modal{
    position: absolute;
    z-index: 3;
    cursor: pointer;
    box-shadow: 0px 0px 100em 100em hsla(0, 0%, 0%, 0.5);
}


/* header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* main */

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mastercraft-container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;
    text-align: center;
}

#mastercraft{
    position: absolute;
    z-index: 2;
    top: -25px;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.back-this-project,
.reward{
    padding: 1.5em 3em;
    margin-right: 1em;
}

.back-this-project:hover,
.back-this-project:focus,
.reward:hover,
.reward:focus{
    cursor: pointer;
    background-color: var(--Dark-Cyan);
}

.bookmark{
    display: flex;
    align-items: center;
    padding: 0;
    background-color: hsl(0, 0%, 97%) ;
}

.bookmark-text{
    font-weight: var(--Bold);
    color: var(--Dark-Grey);
    padding: 1em;
}

.bookmark-active{
    fill: var(--Moderate-Cyan);
    color:  var(--Moderate-Cyan);
}

.circle{
    fill: var(--Moderate-Cyan);

}

.path{
    fill: var(--White);
}


/* progress card */
.progress-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.progress-container > p {
    margin: .5rem 0 2rem 0;
}

.progress-container > .number{
    display: flex;
    flex-direction: column;
}

hr{
    color: var(--Light-Grey);
    width: 25%;
    margin: auto;
}

.progress-bar{
    /*  */
}

.progress{
    /*  */
}

/* about this project */

.about {
    font-size: 1.5rem;
    margin: 2rem 1rem;
}

/* article cards */

article{
    border: 1px solid var(--Light-Grey);
    border-radius: .75em;
    margin: 1em 0;
    padding: 2em 1em;
}

.cyan{
    margin: 0;
    font-weight: var(--Medium);
    color: var(--Moderate-Cyan);
}

.number{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}

/* pledge modal */
.pledge-modal{
    /*  */
}

.back-this-project-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article.reward {
    padding: 1em 2em;
    margin-right: 0;
}

article hr{
    width: 100%;
}

.reward-label{
    display: flex;
    align-items: center;
}

.text-container{
    margin: 0 1rem;

}

.radio{
    cursor: pointer;
    accent-color: var(--Moderate-Cyan);
}

.enter-pledge{
    text-align: center;
}

.enter-pledge.active{
    display: block;
}

.pledge-input-amount{
    font-weight: var(--Bold);
    color: var(--Black);
    padding: 1em;
    text-align: center;
    border: 2px solid var(--Light-Grey);
    border-radius: 99px;
}

.pledge-cyan{
    border: 2px solid var(--Moderate-Cyan);
}

.pledge-input-amount::placeholder{
    color: var(--Black);
}

.input-container{
    /*  */
}
/* thank you modal */

.thank-you{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.thank-you-btn{
    /*  */
}

/* media */